<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/cb.css">
  <link rel="icon" type="image/png" href="images/C.png">
  <title>Ceaprende - circulo</title>
</head>
<body>
  <div class="menuswitch menuHide">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu menuHide">
    <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
    <div class="linea"></div>
    <ul class="menu__modulos">
      <li><span class="menu__item" id="circulos">Circulos</span></li>
      <li><span class="menu__item">Post</span></li>
      <li><span class="menu__item">Preguntas</span></li>
      <li><span class="menu__item" id="acesores">Asesores</span></li>
      <li><span class="menu__item">Ajustes</span></li>
    </ul>
  </div>
  <div class="everything">
    <div class="everything__child navigation">
        <label for="search">
            <img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
        </label>
        <input class="navigation__search" id="search" type="text" placeholder="Ingrse su busqueda">
    </div>
    <div class="everything__child content">
      <div class="pos">
        <div class="card">
          <div class="card-content">
            <div class="front">
              <div class="card-presimg">
                <div class="card-img"><img class="c-img" src="images/card-icon.jfif" alt="icon"></div>
              </div>
              <div class="card-presbg">
                <div class="bg"></div>
              </div>
              <div class="card-info">
                <div class="card-info-left">
                  <div class="card-info-name">Ernesto Molina</div>
                  <div class="card-info-biotitle">Biografia</div>
                  <div class="card-info-bio">
                    Un desarrollador front-end con 8 años de 
                    experiencia en busca de nuevos retos,
                    experiencia en el mercado de adversiting y 
                    landing proyects
                  </div>
                </div>
                <div class="card-info-right">
                  <div class="card-info-data">
                    <div class="data">
                      <b>Escuela:</b>
                      ITSUR
                    </div>
                    <div class="data">
                      <b>Grupo:</b>
                      780-C
                    </div>
                    <div class="data">
                      <b>Carrera:</b>
                      Ingenieria en software
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-presbut">
                <div class="but">Contacto<span class="arrow">➜</span></div>
              </div>
            </div>
            <div class="back">
              <div class="bcard-title">
                <div class="bcard-ftitle">Ernesto Molina</div>
                <div class="bcard-stitle">Contacto</div>
              </div>
              <div class="bcard-redes">
                <div class="bcard-red"><img class="bcard-icon" src="images/bxs-phone.svg" alt="phone">778-245-4532</div>
                <div class="bcard-red"><img class="bcard-icon" src="images/bxl-whatsapp.svg" alt="phone">778-245-4532</div>
                <div class="bcard-red"><img class="bcard-icon" src="images/bxl-gmail.svg" alt="phone"><a href="#">ErneM87@gmail.com</a></div>
                <div class="bcard-red"><img class="bcard-icon" src="images/bxl-google-cloud.svg" alt="phone"><a href="#">drive.example/folder</a></div>
                <div class="bcard-red"><img class="bcard-icon" src="images/bx-video.svg" alt="phone"><a href="#">meet.sesion</a></div>
                <div class="bcard-red"><img class="bcard-icon" src="images/bxl-discord-alt.svg" alt="phone">#user</div>
              </div>
              <div class="bcard-circulos">
                <div class="bcard-circulos-title">Circulos que asesora</div>
                <div class="bcard-prescont">
                  <div class="bcard-circulos-cont">
                    <div class="bcard-cir">Algebra</div>
                    <div class="bcard-cir">POO</div>
                    <div class="bcard-cir">Fisica</div>
                  </div>
                </div>
              </div>
              <div class="bcard-presbut">
                <div class="bbut"><span class="barrow">➜</span>Volver</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>
