<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/cb.css">
    <link rel="icon" type="image/png" href="images/C.png">
    <title>Ceaprende - circulo</title>
  </head>
  <body>
    <div class="menuswitch menuHide">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu menuHide">
      <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
      <div class="linea"></div>
      <ul class="menu__modulos">
        <li><span class="menu__item" id="circulos">Circulos</span></li>
        <li><span class="menu__item">Post</span></li>
        <li><span class="menu__item">Preguntas</span></li>
        <li><span class="menu__item" id="acesores">Asesores</span></li>
        <li><span class="menu__item">Ajustes</span></li>
      </ul>
    </div>
    <div class="everything">
      <div class="everything__child navigation">
          <label for="search">
              <img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
          </label>
          <input class="navigation__search" id="search" type="text" placeholder="Ingrse su busqueda">
      </div>
      <div class="everything__child content">
        <div class="back-top"></div>
        <div class="circulo-icon">
          <div class="circulo-icon-img">
            <img src="images/C.png">
          </div>
        </div>
        <div class="circulo-info">
          <div class="info-left">
            <div class="circulo-titulo">Tics</div>
            <div class="circulo-autor">By Marco Antonio</div>
          </div>
          <div class="info-mid">
            <div class="circulo-descripcion">
              En este circulo se tratan los temas de la materia tics, desde los temas mas basicos como
              las hojas de calculo y programas de ofimatica hasta estructuras de datos. Soy 
              Marco Antonio y soy Asesor de este circulo.
            </div>
          </div>
          <div class="info-right">
            <div class="circulo-sesiones">Sesiones</div>
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-titulo">Introduccion a funciones en Exel</div>
          <div class="articulo-info">
            Adjunto los documentos que utilizamos en la clase del 20/03/2023 como siempre y el <a href="#">Link</a>
            gracias por el apoyo :3
          </div>
          <div class="articulo-docs">
            <div class="doc">
              <img src="images/bxs-file-archive.svg">
              <div class="doc-text">
                archivos zip
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-file-docs.svg">
              <div class="doc-text">
                Documento
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-file-pdf.svg">
              <div class="doc-text">
                Pdf
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-slideshow.svg">
              <div class="doc-text">
                Presentacion
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-files.svg">
              <div class="doc-text">
                Archivo
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-spreadsheet.svg">
              <div class="doc-text">
                Hoja de calculo
              </div>
            </div> 
          </div>
        </div>
        <div class="articulo">
          <div class="articulo-titulo">Estilos a documento Word</div>
          <div class="articulo-info">
            Adjunto los documentos que utilizamos en la clase del 16/03/2023 junto con su <a href="#">Link</a>
          </div>
          <div class="articulo-docs">
            <div class="doc">
              <img src="images/bxs-file-docs.svg">
              <div class="doc-text">
                Documento
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-file-pdf.svg">
              <div class="doc-text">
                Pdf
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-slideshow.svg">
              <div class="doc-text">
                Presentacion
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-file-gif.svg">
              <div class="doc-text">
                Gif
              </div>
            </div>
            <div class="doc">
              <img src="images/bxs-file-image.svg">
              <div class="doc-text">
                Imagen
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/js/main.js"></script>
  </body>
</html>