<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/cursos.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="icon" type="image/png" href="images/C.png">
  <title>Ceaprende - inico</title>
</head>
<body>
	<div class="menuswitch" >
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="menu">
      <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
		<div class="linea"></div>
		<ul class="menu__modulos">
			<li><span class="menu__item" id="circulos">Circulos</span></li>
			<li><span class="menu__item">Post</span></li>
			<li><span class="menu__item">Preguntas</span></li>
			<li><span class="menu__item" id="acesores">Asesores</span></li>
			<li><span class="menu__item">Ajustes</span></li>
		</ul>
	</div>
	<div class="everything">
		<div class="everything__child navigation">
			<img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
			<input class="navigation__search" type="text" placeholder="Ingrse su busqueda">
		</div>
		<div class="everything__child content">
	<!-- AQUI EMPIEZAN LAS TARJETAS 		 -->
	<div class="main-container">
        <div class="cards">
            <div class="card card1">
                <div>
					<span class="title-card">Tics</span>
                    <!-- <ul>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                    </ul> -->
                </div>
                <p class="close"><i ></i></p>
                <p class="desc">En este curso aprenderas  las bases de la programación, múltiples lenguajes de programación tanto como algoritmos básicos y avanzados
				</p>
                <p class="read-more">
                    <a class="readMore" href="http://localhost/login/view/home/circulo-beta.html">Marco Antonio <i class="sin"></i></a>
                </p>
            </div>

            <div class="card card2">
                <div>
					<span class="title-card">Álgebra  </span>
                    <!-- <ul>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                    </ul> -->
                </div>
                <p class="close"><i ></i></p>
                <p class="desc">En este curso aprenderas matematoicas basicas, como avanzadas. 
					Tambien se cubriran temas de fisica, geometria analitica. Entre otros.</p>
                <p class="read-more">
                    <a class="readMore" href="#">Isauro Jose<i class="sin"></i></a>
                </p>
            </div>

        <div class="card card3">
                <div>
					<span class="title-card">Quimica</span>
                    <!-- <ul>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                    </ul> -->
                </div>
                <p class="close"><i ></i></p>
                <p class="desc">ya no supe que poner xd</p>
                <p class="read-more">
                    <a class="readMore" href="#">Alexis star<i class="sin"></i></a>
                </p>
            </div>
            
            <div class="card card4">
                <div>
					<span class="title-card">Leoye</span>
                    <!-- <ul>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                        <li><i class="item-list"></i></li>
                    </ul> -->
                </div>
                <p class="close"><i ></i></p>
                <p class="desc">ya no supe que poner xd x2</p>
                <p class="read-more">
                    <a class="readMore" href="#"><i class="sin">Persona(sindefinir)</i></a>
                </p>
            </div>
        </div>
    </div>
		</div>
	</div>
	<script src="static/js/main.js" type="text/javascript"></script>
</body>
</html>