<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="icon" type="image/png" href="images/C.png">
  <title>Ceaprende - inicio</title>
</head>
<body>
	<div class="menuswitch" >
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="menu">
		<a href="https://front.ceaprende.repl.co/">
      <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
    </a>
		<div class="linea"></div>
		<ul class="menu__modulos">
			<li><span class="menu__item">Circulos</span></li>
			<li><span class="menu__item">Post</span></li>
			<li><span class="menu__item">Preguntas</span></li>
			<li><span class="menu__item" id="acesores">Asesores</span></li>
			<li><span class="menu__item">Ajustes</span></li>
		</ul>
	</div>
	<div class="everything">
		<div class="everything__child navigation">
			<img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
			
            <input class="navigation__search" type="text" placeholder="Ingrse su busqueda">
		
        </div>
		<div class="everything__child content">
            <div class="padre">
                <div class="info">
                    <div class="text">
                      <h1>Descripcion : </h1>
                      En esta pagina se hablara sobre reabrir los circulos  
                      de estudio 
                    </div>
                </div>
                <aside class="lat">
                    <div class="title">
                        <span><h1>Círculos De Estudio</h1>    </span>
                        <hr>
                    </div>   
                    <div class="elemntc">
                        <span>
                            ÁLGEBRA
                        </span>
                        
                    </div>
                    <div class="elemntc">
                        <span>
                            LEOyE
                        </span>
                    </div>
                    <div class="elemntc">
                        <span>
                            QUÍMICA
                        </span>
                    </div>
                    <div class="elemntc">
                        <span>
                            FÍSICA
                        </span>
                    </div>
                    <div class="elemntc">
                        <span>
                            INGLES
                        </span>
                    </div>
                    <div class="elemntc">
                        <span>
                            MATEMATICAS
                        </span>
                    </div>
                </aside>
            </div>
            
	    </div>
    </div>
	<script src="static/js/main.js" type="text/javascript"></script>
</body>
</html>