<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="icon" type="image/png" href="images/C.png">
  <title>Ceaprende - inico</title>
</head>
<body>
  <div class="menuswitch">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu">
    <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
    <div class="linea"></div>
    <ul class="menu__modulos">
      <li><span class="menu__item" id="circulos">Circulos</span></li>
      <li><span class="menu__item" id="post" >Post</span></li>
      <li><span class="menu__item">Preguntas</span></li>
      <li><span class="menu__item" id="acesores">Asesores</span></li>
      <li><span class="menu__item">Ajustes</span></li>
    </ul>
	<div class="menu-login login-btt">Inicia sesion</div>
  </div>
  <div class="everything">
    <div class="everything__child navigation">
		<label for="search">
	    	<img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
		</label>
    	<input class="navigation__search" id="search" type="text" placeholder="Ingrse su busqueda">
		<div class="nav-login login-btt">Inicia sesion</div>
    </div>
    <div class="everything__child content">
			<div class="everything__top">
				<!-- pregunta -->
				<input type="text" id="questions" class="questions" placeholder="Has una pregunta!">
			</div>
			<div class="everything__mid">
				<!-- post y circulos -->
				<div class="everything__post">
					<div class="post">
						<div class="post__content" >
							<div class="post__content__title">
								Ayuda en programación
							</div>
							<div class="post__content__description">
								Alguien me podría ayudar con progrmación orientada a objetos.
							</div>
						</div>
						<div class="post__icon">
							<img src="images/default.svg" alt="Post logo" class="post__icon__img">
						</div>
					</div>
					<div class="post">
						<div class="post__content" >
							<div class="post__content__title">
								Explicación de ecuaciones
							</div>
							<div class="post__content__description">
								Necesito resolver una tarea, alguien que me pudiera explicar el tema de ecuaciones de segundo grado.
							</div>
						</div>
						<div class="post__icon">
							<img src="images/default.svg" alt="Post logo" class="post__icon__img">
						</div>
					</div>
				</div>
				<div class="circulos">
					<div class="circulos__title">Mis circulos</div>
					<div class="circulos__item">
						<div class="circulos__item__title">Álgebra</div>
						<div class="circulos__item__descripcion">En este curso aprenderas matemáticas básicas, en el nivel algebraico. También se cubrirán temas de física, geometría analítica. Entre otros.</div>
					</div>
					<div class="circulos__item">
						<div class="circulos__item__title">Tics</div>
						<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la programación, múltiples lenguajes de programación tanto como algoritmos básicos y avanzados</div>
					</div>
					<div class="circulos__item">
						<div class="circulos__item__title">Quimica</div>
						<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la química, múltiples ejercicios básicos y avanzados</div>
					</div>
					<div class="circulos__item">
						<div class="circulos__item__title">Leoye</div>
						<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la asignatura de LEOyE, múltiples actividades que te ayudaran a tener más conocimiento acerca de la materia</div>
					</div>
					</div>
					<div class="end-circulos">no deberias poder ver esto</div>
					<div class="puntito">ni esto</div>
				</div>
			</div>
			<div class="everything__bottom">
				<!-- acesores y imagen -->
				<div class="acesores">
					Parece que aun no tienes nada por aqui!
<!-- 					todo askeroso por no tener tiempo -->
				</div>
				<div class="everything__img">
					<img src="images/default.svg" alt="c proyect">		
				</div>
			</div>
    </div>
  </div>
  <script src="static/js/main.js" type="text/javascript"></script>
</body>
</html>