<html lang="es"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/cb.css">
    <link rel="icon" type="image/png" href="images/C.png">
    <title>Ceaprende - circulo</title>
  </head>
  <body>
    <div class="menuswitch menuHide">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu menuHide">
      <img class="menu__icon" src="images/C.png" alt="El loguito no cargó :(">
      <div class="linea"></div>
      <ul class="menu__modulos">
        <li><span class="menu__item" id="circulos">Circulos</span></li>
        <li><span class="menu__item">Post</span></li>
        <li><span class="menu__item">Preguntas</span></li>
        <li><span class="menu__item" id="acesores">Asesores</span></li>
        <li><span class="menu__item">Ajustes</span></li>
      </ul>
      <div class="menu-login login-btt">Inicia sesion</div>
    </div>
    <div class="everything">
      <div class="everything__child navigation">
          <label for="search">
              <img src="images/lupa.svg" alt="Lupa" class="navigation__icon-search">
          </label>
          <input class="navigation__search" id="search" type="text" placeholder="Ingrse su busqueda">
      </div>
      <div class="everything__child content">
        <div class="goback">atras</div>
        <div class="title">Sesiones</div>
        <table class="tabla">
            <tr>
                <th>Fecha | Hora</th>
                <th>Asesor</th>
                <th>Link de la clase</th>
                <th>Estado</th>
                <th>Mas info.</th>
            </tr>
            <tr>
                <th>03/03/23 | 2:00 p.m.</th>
                <td>Marko Antonio</td>
                <td><a href="#" class="link">Sesion</a></td>
                <td class="green">Completada</td>
                <td class="red">N/A</td>
            </tr>
            <tr>
                <th>06/03/23 | 12:00 p.m.</th>
                <td>Isauro Jose</td>
                <td><a href="#" class="link">Sesion</a></td>
                <td class="green">Completada</td>
                <td><a href="#" class="link">Archivo</a></td>
            </tr>
            <tr>
                <th>10/03/23 | 4:00 p.m.</th>
                <td>Alexis</td>
                <td><a href="#" class="link">Sesion</a></td>
                <td class="green">Completada</td>
                <td><a href="#" class="link">Archivo</a></td>
            </tr>
            <tr>
                <th>15/03/23 | 8:20 p.m.</th>
                <td>Marko Antonio</td>
                <td> --- </td>
                <td class="yellow">Pendiente</td>
                <td class="yellow">N/A</td>
            </tr>
            <tr>
                <th>21/03/23 | 7:00 p.m.</th>
                <td>Emanuel</td>
                <td> --- </td>
                <td class="yellow">Pendiente</td>
                <td class="yellow">N/A</td>
            </tr>
            <tr>
                <th>26/03/23 | 3:30 p.m.</th>
                <td>Alexis</td>
                <td> --- </td>
                <td class="yellow">Pendiente</td>
                <td class="yellow">N/A</td>
            </tr>     
        </table>
      </div>
    </div>
    <script type="text/javascript" src="static/js/main.js"></script>
  </body>
</html>