<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/C.png">
  <link rel="stylesheet" type="text/css" href="static/css/login.css">
  <title>Ceaprende - Login</title>
</head>
<body>
  <section>
    <form action="" method="post" > 
      <div class="center_content"> 
        <span>Login</span> 
      </div>
      <div class="card">
        <input required type="text" name="user" class="input" placeholder="Usuario" autocomplete="off">
        <input required type="password" name="password" class="input" placeholder="Contraseña">
      </div>
      <div class="center_content">
        <a class="password-r" href="">registrate</a>
        <input type="submit" class="sub" value="Iniciar"/>
      </div>
    </form>
  </section>
</body>
</html>