<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla 2</title>
    <link rel="stylesheet" href="static/css/tabla.css">
</head>
<body>
    <div class="Contenedor">
        <table >
            <thead>
                <tr>
                    <th>MODULO 1</th>
                    <th>Competencias </th>
                    <th>Material De Apoyo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sub 1</td>
                    <td>Construye algoritmos para la solución de problemas</td>
                    <td>AQUI LINK DE APOYO</td>
                </tr>
                <tr>
                    <td>sub 2</td>
                    <td>Aplica estructuras de control con un lenguaje de programación</td>
                    <td>AQUI LINK DE APOYO</td>
                </tr>
                <tr>
                    <td>sub 3</td>
                    <td>Aplica estructuras de datos con un lenguaje de programación</td>
                    <td>AQUI LINK DE APOYO</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>